<configuration> 
<configSections>
</configSections>
<connectionStrings>
    <add name="Conex"
         connectionString="Data Source=NOMBRE_SERVIDOR;&#xD;&#xA;         Initial Catalog= NOMBRE_bd; UID = USUARIO; PWD = CLAVE_USUARIO"
                                                                         />
</connectionStrings>
</configuration>
